<div class="container">      
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3"> 
          <label for="itemId">Type id</label><br>
          <input type="number" name="itemId" #i>   <br><br>
          <button class="btn btn-primary" (click)="getPostById(i)">
          Fetch Post by Id
          </button>
        </div>
       
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <ul class="list-group" *ngIf = "getData!==null && !isFetching">
            <li class="list-group-item" >
              <h3>Id: {{getData.id}}</h3>
              <h3>Title: {{getData.title}}</h3>
              <p *ngIf = "getData.todoItems.length > 0">SubItems:</p>
              <ul class="list-group" *ngIf = "getData.todoItems.length > 0">
                <li class="list-group-item" *ngFor="let post of getData.todoItems">
                  <h5>Id: {{post.id}}</h5>
                  <h5>Title: {{post.content}}</h5>
                </li>
              </ul>
            </li>
          </ul>
          <p *ngIf="isFetching">Loading...</p>
          <div class="alert alert-danger" *ngIf="error">
            <h1>Error Occured</h1>
            <p>{{ error }}</p>
            <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">    
          <button class="btn btn-primary" (click)="getAllPosts()">
          Fetch All Posts
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p *ngIf="getRequestData.length === 0  &&  !isFetching">No posts available!</p>
          <ul class="list-group" *ngIf = "getRequestData.length > 0 && !isFetching">
            <li class="list-group-item" *ngFor="let post of getRequestData;">
              <h3>Id: {{post.id}}</h3>
              <h3>Title: {{post.title}}</h3>
              <p *ngIf = "post.todoItems.length > 0">SubItems:</p>
              <ul class="list-group" *ngIf = "post.todoItems.length > 0">
                <li class="list-group-item" *ngFor="let post of getRequestData;">
                  <h5>Id: {{post.id}}</h5>
                  <h5>Title: {{post.title}}</h5>
                </li>
              </ul>
            </li>
          </ul>
          <p *ngIf="isFetching">Loading...</p>
          <div class="alert alert-danger" *ngIf="error">
            <h1>Error Occured</h1>
            <p>{{ error }}</p>
            <button class="btn btn-danger" (click)="onHandleError()">Okay</button>
          </div>
        </div>
      </div>
</div>
